body,
html {
    height: 100%;
    margin: 0;
}

#player {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

#video-list {
    overflow-y: auto;
    height: 100vh;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
